# 6. Modelling
The purpose of this notebook is to create various models and try and determine which one works best for the project task. As well as trying various models, I will also experiment with different features and perform feature engineering to try and get the best predictors. As I go through this process I will try and explore the data further and continue with EDA while in the process since it is an iterative process
In this chapter I am going to build machine learning models to help us classify whether pumps in Tanzania are function, not function or functioning and needs repair. This is a ternary problem meaning we have three target classes

In [1]:
#importing necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.compose import ColumnTransformer
import scipy

In [2]:
#reading our data
modelling_data = pd.read_csv("modelling_data.csv")
#printing the first five rows
modelling_data.head()

,status_group,amount_tsh,gps_height,longitude,latitude,basin,region,lga,population,extraction_type_group,...,management_group,payment_type,water_quality,quantity,source,source_class,waterpoint_type,installer,permit,public_meeting
0,functional,50.0,1390,34.938093,-9.856322,Lake Nyasa,Iringa,Ludewa,109,gravity,...,user-group,annually,soft,enough,spring,groundwater,communal standpipe,Roman,False,True
1,functional,0.0,1399,34.698766,-2.147466,Lake Victoria,Mara,Serengeti,280,gravity,...,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,GRUMETI,True,True
2,functional,25.0,686,37.460664,-3.821329,Pangani,Manyara,Simanjiro,250,gravity,...,user-group,per bucket,soft,enough,dam,surface,communal standpipe multiple,World vision,True,True
3,non functional,0.0,263,38.486161,-11.155298,Ruvuma / Southern Coast,Mtwara,Nanyumbu,58,submersible,...,user-group,never pay,soft,dry,machine dbh,groundwater,communal standpipe multiple,UNICEF,True,True
4,functional,0.0,0,31.130847,-1.825359,Lake Victoria,Kagera,Karagwe,0,gravity,...,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe,Artisan,True,True

Summary statistics our our numerical columns

In [3]:
#summary statistics
modelling_data.describe()

         amount_tsh    gps_height     longitude      latitude    population
count  59400.000000  59400.000000  59400.000000  5.940000e+04  59400.000000
mean      12.748566    668.297239     34.077427 -5.706033e+00    179.909983
std       20.976109    693.116350      6.567432  2.946019e+00    471.482176
min        0.000000    -90.000000      0.000000 -1.164944e+01      0.000000
25%        0.000000      0.000000     33.090347 -8.540621e+00      0.000000
50%        0.000000    369.000000     34.908743 -5.021597e+00     25.000000
75%       20.000000   1319.250000     37.178387 -3.326156e+00    215.000000
max       50.000000   2770.000000     40.345193 -2.000000e-08  30500.000000

I will  now select our target and the features from our data set so we can start building our models.

In [4]:
#selecting target
y = modelling_data["status_group"]
#selecting features
X = modelling_data.drop("status_group", axis = 1)

We will need to to normalize all features into a consistent scale of 0 to 1 since classification models only choose from  0 or 1 especially for numeric features. After that we will split the data into train and test splits so we can train evaluate and test our model. Since this is a ternary classification we will split our data into three sets; train, validate and test. Train will take 70% of the data while validate and train will take 15 % each.

In [5]:
#normalizing the data

#splitting data into train and combine(val and test)
X_train, X_combined, y_train, y_combined = train_test_split(X, y, train_size= 0.7, random_state= 1)
#splitting combined into validate and test
X_val, X_test, y_val, y_test = train_test_split(X_combined, y_combined, train_size= 0.5, random_state= 1)